<nav>
  <div class="container" style="width: 1850px">
    <div class="navbar">
      <img
        src="https://www.ewa.bh/en/HeaderImages/EWALogo.png"
        alt=""
        srcset=""
        style="margin: auto"
      />
    </div>
  </div>
</nav>
